{{template "base" .}}

{{define "title"}}Chat Panel{{end}}

{{define "main"}}
    <div id="wrapper">
        <div id="chatarea">
            <label>Chat Area:</label>
            <textarea name="content">
                    {{range .Messages}}
                        {{.User}} {{humanDate .Date}} &#13;&#10; {{.Content}}&#13;&#10; &#13;&#10;
                    {{end}}
                </textarea>
        </div>

        <div id="chatbox"></div>
        <span>{{$.User.Name}}</span>

        <form action="/message/create" method="POST">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <input type="text" name="content"/>
            <input type="submit" value="Send"/>
        </form>
    </div>
{{end}}