{{template "base" .}}

{{define "title"}}Chat Panel{{end}}

{{define "main"}}
    <div id="wrapper">
        <label>Chat Area:</label>
        <div id="chatarea" style="width: 800px; height: 300px; overflow: auto;">
            <table>
                {{range .Messages}}
                    <tr>
                        <td>{{.User}}</td>
                        <td>{{humanDate .Date}}</td>
                        <td>{{.Content}}</td>
                    </tr>
                {{end}}
            </table>
        </div>


        <div style="margin-top: 20px; margin-left: 20px">
            <span style="font-style: italic; font-weight: bold">Name: {{$.User.Name}}</span>
        </div>

        <form action="/message/create" method="POST">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
            <input type="text" name="content"/>
            <input type="submit" value="Send"/>
        </form>

    </div>
{{end}}