{{template "base" .}}

{{define "title"}}Chat Panel{{end}}

{{define "main"}}
    <div id="wrapper">
        <div id="chatarea">
            <label>Chat Area:</label>

            <textarea name="content"> </textarea>
        </div>

        <div id="chatbox"></div>

        <form name="message" action="">
            {{with .User}}
                <span>{{ .Name}}</span>
                <input name="usermsg" type="text" id="usermsg"/>
                <input name="submitmsg" type="submit" id="submitmsg" value="Send"/>
            {{end}}
        </form>
    </div>
{{end}}