{{template "base" .}}

{{define "title"}}Message #{{$.Message.MessageID}}{{end}}

{{define "main"}}
<form action="/message/save" method="POST">
    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

    <div id="wrapper">
        <div>
            <span style="font-style: italic; font-weight: bold">Name: {{$.Message.User}}</span>
            {{with .Form}}
                {{with .Errors.Get "message"}}
                    <label class="error">{{.}}</label>
                {{end}}
            {{end}}
            <input type="hidden" name="id" value="{{$.Message.MessageID}}">
        </div>
        <div>
            <textarea name="content" >{{$.Message.Content}}</textarea>
        </div>

        <div class="metadata">
            <time>Created: {{humanDate $.Message.Date}}</time>
            <time>Expires: {{humanDate $.Message.Expires}}</time>
        </div>
    </div>
    <div>
        <input type="submit" name="save" value="Save">
    </div>

</form>
{{end}}